[debug=true] {
  outline: 1px solid lime;
  outline-offset: -1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-transform: rotateY(16deg) translateX(5%) translateY(5%) skewY(-6deg);
  transform: rotateY(16deg) translateX(5%) translateY(5%) skewY(-6deg);
}
[debug=true] * {
  outline: 1px solid lime;
  outline-offset: -1px;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(0, 0, 0, 0.1), -2px -2px 0 rgba(0, 0, 0, 0.1), -3px -3px 0 rgba(0, 0, 0, 0.1), -4px -4px 0 rgba(0, 0, 0, 0.1), -5px -5px 0 rgba(0, 0, 0, 0.1), -6px -6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(0, 0, 0, 0.1), -2px -2px 0 rgba(0, 0, 0, 0.1), -3px -3px 0 rgba(0, 0, 0, 0.1), -4px -4px 0 rgba(0, 0, 0, 0.1), -5px -5px 0 rgba(0, 0, 0, 0.1), -6px -6px 0 rgba(0, 0, 0, 0.1);
}
[debug=true] *:before,
[debug=true] *:after {
  outline: 1px solid #0ff;
  outline-offset: -1px;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(0, 0, 0, 0.1), -2px -2px 0 rgba(0, 0, 0, 0.1), -3px -3px 0 rgba(0, 0, 0, 0.1), -4px -4px 0 rgba(0, 0, 0, 0.1), -5px -5px 0 rgba(0, 0, 0, 0.1), -6px -6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(0, 0, 0, 0.1), -2px -2px 0 rgba(0, 0, 0, 0.1), -3px -3px 0 rgba(0, 0, 0, 0.1), -4px -4px 0 rgba(0, 0, 0, 0.1), -5px -5px 0 rgba(0, 0, 0, 0.1), -6px -6px 0 rgba(0, 0, 0, 0.1);
}
[debug=true] *:after {
  outline-color: #f0f;
}
[debug=true] *:hover {
  outline-color: #f0f !important;
  outline-width: 2px !important;
  outline-style: dashed !important;
}
[debug=true] *:hover:before, [debug=true] *:hover:after {
  outline-color: #0ff !important;
  outline-width: 2px !important;
}
[debug=true] * {
  outline-color: rgba(45, 223, 171, 0.9) !important;
  margin-left: 0.5vw !important;
}
[debug=true] * > * {
  outline-color: rgba(90, 144, 110, 0.9) !important;
  margin-left: 1vw !important;
}
[debug=true] * > * > * {
  outline-color: rgba(145, 104, 79, 0.9) !important;
  margin-left: 1.5vw !important;
}
[debug=true] * > * > * > * {
  outline-color: rgba(179, 72, 55, 0.9) !important;
  margin-left: 2vw !important;
}
[debug=true] * > * > * > * > * {
  outline-color: rgba(205, 53, 40, 0.9) !important;
  margin-left: 2.5vw !important;
}
[debug=true] * > * > * > * > * > * {
  outline-color: rgba(224, 44, 34, 0.9) !important;
  margin-left: 3vw !important;
}
[debug=true] * > * > * > * > * > * > * {
  outline-color: rgba(233, 45, 39, 0.9) !important;
  margin-left: 3.5vw !important;
}
[debug=true] * > * > * > * > * > * > * > * {
  outline-color: rgba(240, 52, 45, 0.9) !important;
  margin-left: 4vw !important;
}
[debug=true] * > * > * > * > * > * > * > * > * {
  outline-color: rgba(243, 60, 56, 0.9) !important;
  margin-left: 4.5vw !important;
}
[debug=true] * > * > * > * > * > * > * > * > * > * {
  outline-color: rgba(245, 72, 70, 0.9) !important;
  margin-left: 5vw !important;
}
